@import "../../theme.scss";


.pdp-chat-video-message {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;

  &__header {
    font-size: 18px;
  }
  &__description {
    font-size: 12px;
  }
  &__code {
    padding: 11px 12px;
    border-radius: 4px;
    background-color: $gray-color-06;

    color: $dark-color-02;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
    cursor: pointer;
  }
}
