@import "../theme.scss";

.pdp-chat-layout-with-side-bar {
  display: grid;
  grid-template-columns: repeat(3, 265px);

  grid-gap: 20px;
  
  width: 920px;
  min-height: 100vh;
  margin: 25px auto;

  &__main-content {
    grid-column-start: 1;
    grid-column-end: 3;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    grid-gap: 16px;
  }

  &__side-bar {

  }
}
