@import "./theme.scss";

.pdp-chat-logo {
  width: 48px;
  height: 48px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: $dark-color-01;
  color: $white-color-01;

  border-radius: 50%;

  svg {
    width: 32px;
    height: 32px;
  }
}
