$primary-color-01: #FF950A;
$primary-color-02: #FF9E21;
$primary-color-03: #FFF5E8;

$secondary-color-01: #1188FF;
$secondary-color-02: #2693FF;
$secondary-color-03: #E8F3FF;

$danger-color-01: #EA3C24;
$danger-color-02: #FCF7F5;

$success-color-01: #5EC043;

$dark-color-01: #212021;
$dark-color-02: #1C1F29;

$gray-color-01: #5C5C5C;
$gray-color-02: #747474;
$gray-color-03: #8D8D8D;
$gray-color-05: #E3E3E3;
$gray-color-06: #F7F7F7;

$white-color-01: #FFFFFF;
